<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>A Basic HTML5 Template</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="A Basic HTML5 Template">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description" content="A simple HTML5 Template for new projects.">
  <!-- <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>
  <!-- your content here... -->
  <form id="regiseteration-form" method="POST" target="hiddenframe" action="http://127.0.0.1:5000/users">
    <div>Choose new username <input id="username" name="username" placeholder="username" required></div>
    <div>Please typr your full name <input id="name" name="name" placeholder="name" required></div>
    <div>Please type your email<input id="email" name="email" placeholder="email" required></div>
    <div>Please type your phone number<input id="phone" name="phone" placeholder="phone" required></div>
    <div>Please type your new password <input id="password" name="password" type="password" required></div>
    <div><button class="button-submit" id="button-submit" type="submit">Submit Request</button></div>
  </form>
  <!-- <script src="js/scripts.js"></script> -->
  <!-- Submits a form to post request -->
  <script>
    window.addEventListener("load", function() {
      const form = document.getElementById('regiseteration-form');
      form.addEventListener("submit", function(e) {
        e.preventDefault();
        const data = new FormData(form);
        const action = e.target.action;
        return fetch(action, {
          method: 'POST',
          body: data,
        })
        .then((res) => {
          return res.json();
        })
        .then((json) => {
          console.log(json); // The json object is here
        })
        .catch((err) => {
          console.log(err);
        });
      });
    });
  </script>
</body>
</html>